
  <div class="mybanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/tvG4WvjgsEY);">
    <div class="container">
      <h1>Style Higher provides <strong>clothes & accessories</strong> to <strong>image-conscious people</strong>.</h1>
      <p>Reinvent your look without spending a fortune.</p>
      <%# <a class="btn btn-flat" href="#">Find out more</a> %>
    </div>
  </div>
<% if @items.present? %>
<p> <% @items.limit(8).each do |item| %>
  <%= link_to item.title, item_path(item) %>
  <% end %>
</p>
<% end %>


<%# ###/former user avatar dropdown/### %>
<%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="stylehigher.jpg" alt="user avatar"/> %>
