.card-body {
  display: flex;
  flex-direction: column;
}

.row {
  justify-content: flex-end;
}

.index_title {
  text-align: center;
  color: teal;
    padding: 45px;

}

.container h1 {
  color: teal;
}
